# Default ignored files
/shelf/
/workspace.xml
/compiler.xml
/jarRepositories.xml
/libraries/Maven__antlr_antlr_2_7_7.xml
/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/libraries/Maven__com_oracle_database_ha_ons_11_2_0_4.xml
/libraries/Maven__com_oracle_database_ha_simplefan_11_2_0_4.xml
/libraries/Maven__com_oracle_database_jdbc_ojdbc6_11_2_0_4.xml
/libraries/Maven__com_oracle_database_jdbc_ucp_11_2_0_4.xml
/libraries/Maven__com_oracle_database_security_oraclepki_11_2_0_4.xml
/libraries/Maven__com_oracle_database_security_osdt_cert_11_2_0_4.xml
/libraries/Maven__com_oracle_database_security_osdt_core_11_2_0_4.xml
/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_7.xml
/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_15.xml
/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/libraries/Maven__javax_persistence_javax_persistence_api_2_2.xml
/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/libraries/Maven__net_bytebuddy_byte_buddy_1_12_7.xml
/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_1.xml
/libraries/Maven__org_glassfish_jaxb_txw2_2_3_1.xml
/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
/libraries/Maven__org_hibernate_hibernate_core_5_6_5_Final.xml
/libraries/Maven__org_jboss_jandex_2_4_2_Final.xml
/libraries/Maven__org_jboss_logging_jboss_logging_3_4_3_Final.xml
/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
/libraries/Maven__org_jvnet_staxex_stax_ex_1_8.xml
/misc.xml
/modules.xml
/vcs.xml
